node-red/.flows.json.backup
[{"id":"c0c87894.670df8","type":"tab","label":"Bathroom & Kitchen","disabled":false,"info":""},{"id":"3a02048.0a266fc","type":"server","name":"Home Assistant","addon":true},{"id":"7af4cdc0.c378c4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"396616f6.6e0182","type":"key-value-store","filepath":"store.json","namespace":"","name":"bathroom_kitchen"},{"id":"d9865ec0.5e71e8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"794dafae.566c18","type":"trigger-state","z":"c0c87894.670df8","name":"Toggle light ","server":"3a02048.0a266fc","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.wc_main_light_switch","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is_not","comparatorValueDatatype":"jsonata","comparatorValue":"null","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":90,"y":480,"wires":[["4674374a.e362a8","9d98ffb9.86a028"],[]],"icon":"node-red-dashboard/ui_switch.png"},{"id":"9a1c533c.a1428","type":"api-call-service","z":"c0c87894.670df8","name":"Toggle Main","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.wc_main_light_esp_wc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":480,"wires":[["fa6c9e7.5db526"]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"750d593e.c184a","type":"trigger-state","z":"c0c87894.670df8","name":"Toggle light ","server":"3a02048.0a266fc","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.kitchen_main_light_switch","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"unavailable","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":90,"y":980,"wires":[["56f547b9.b63628"],[]],"icon":"node-red-dashboard/ui_switch.png"},{"id":"1669cf68.5f1e41","type":"trigger-state","z":"c0c87894.670df8","name":"Toggle fan ","server":"3a02048.0a266fc","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.fan_switch","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":90,"y":540,"wires":[["dffcd9c1.6cd108"],["dffcd9c1.6cd108"]],"icon":"node-red-dashboard/ui_switch.png"},{"id":"1f786f2.446e991","type":"api-call-service","z":"c0c87894.670df8","name":"Main On","server":"3a02048.0a266fc","version":1,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_main_light_esp_wc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":920,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"85bba2.eea6046","type":"server-state-changed","z":"c0c87894.670df8","name":"Motion","server":"3a02048.0a266fc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.wc_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":70,"y":100,"wires":[["a03056e4.cd335","fc78567d.0b6bd8"],[]],"icon":"node-red/bridge-dash.svg"},{"id":"41140a9a.549bec","type":"api-call-service","z":"c0c87894.670df8","name":"Main on","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wc_main_light_esp_wc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":120,"wires":[["4ad10222.a33384"]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"f63b4a5.bcf6038","type":"time-range-switch","z":"c0c87894.670df8","name":"Is Night 🌚 ","lat":"","lon":"","startTime":"23:00","endTime":"07:00","startOffset":0,"endOffset":0,"x":610,"y":80,"wires":[["31741d6.1a75562"],["41140a9a.549bec"]],"outputLabels":["Yes","No"],"icon":"font-awesome/fa-clock-o"},{"id":"31741d6.1a75562","type":"api-call-service","z":"c0c87894.670df8","name":"Led On","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wc_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":60,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"79115499.6ac164","type":"server-state-changed","z":"c0c87894.670df8","name":"No Motion in a while","server":"3a02048.0a266fc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.wc_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"35","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":320,"wires":[["55a1149b.84f524"],[]],"icon":"node-red/bridge.svg"},{"id":"fa6c9e7.5db526","type":"api-call-service","z":"c0c87894.670df8","name":"Toggle Led","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.wc_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":480,"wires":[["e4a02b3c.de94d"]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"dffcd9c1.6cd108","type":"api-call-service","z":"c0c87894.670df8","name":"Toggle Fan ","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.wc_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":540,"wires":[[]],"icon":"node-red-contrib-modbus/modbus.png"},{"id":"31b3ac12.501be4","type":"server-state-changed","z":"c0c87894.670df8","name":"Fan is over (40 min)","server":"3a02048.0a266fc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.wc_fan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"40","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":600,"wires":[["fcb9d0a1.56b7"],[]],"icon":"node-red-contrib-modbus/modbus.png"},{"id":"42ee7212.74a054","type":"api-call-service","z":"c0c87894.670df8","name":"Fan Off ⏸","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wc_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":540,"wires":[[]],"icon":"node-red-contrib-modbus/modbus.png"},{"id":"1bdbec60.7513bc","type":"comment","z":"c0c87894.670df8","name":"3-button switch block","info":"","x":120,"y":400,"wires":[]},{"id":"5bb26ecc.f7526","type":"comment","z":"c0c87894.670df8","name":"Occupancy","info":"","x":90,"y":60,"wires":[]},{"id":"f916b081.113b2","type":"server-state-changed","z":"c0c87894.670df8","name":"Door opened (w/ short delay)","server":"3a02048.0a266fc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.wc_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0.655","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":160,"wires":[["e395ec0.0a0dc18","fc78567d.0b6bd8","a03056e4.cd335"],[]],"icon":"font-awesome/fa-folder-open"},{"id":"d764a786.203b1","type":"server-state-changed","z":"c0c87894.670df8","name":"Door closed","server":"3a02048.0a266fc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.wc_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":240,"wires":[["cd86334b.406428"],[]],"icon":"font-awesome/fa-folder"},{"id":"a9dd3be1.82594","type":"comment","z":"c0c87894.670df8","name":"🛁 ____ B A T H R O O M _____________________________________________________________________________________________","info":"","x":440,"y":20,"wires":[],"icon":"font-awesome/fa-bath"},{"id":"a5be20c3.59f99","type":"comment","z":"c0c87894.670df8","name":"🍔 ____ K I T C H E N _____________________________________________________________________________________________","info":"","x":440,"y":660,"wires":[],"icon":"font-awesome/fa-comment"},{"id":"a82efe6c.2c42","type":"comment","z":"c0c87894.670df8","name":"Occupancy","info":"","x":90,"y":720,"wires":[]},{"id":"2a47cddc.c5044a","type":"comment","z":"c0c87894.670df8","name":"3-button switch block","info":"","x":120,"y":920,"wires":[]},{"id":"b6ff6f5c.97dde8","type":"api-call-service","z":"c0c87894.670df8","name":"Main Off","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_main_light_esp_wc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":840,"wires":[["f8a6a855.ed8a8"]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"25477019.1584d","type":"server-state-changed","z":"c0c87894.670df8","name":"Motion","server":"3a02048.0a266fc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":70,"y":780,"wires":[["569401a3.1380d"],[]],"icon":"node-red/bridge-dash.svg"},{"id":"e5d86c83.a73788","type":"api-call-service","z":"c0c87894.670df8","name":"Main On","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_main_light_esp_wc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":740,"wires":[["4278fc9c.aee64c"]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"4674374a.e362a8","type":"api-current-state","z":"c0c87894.670df8","name":"Is Door open","server":"3a02048.0a266fc","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.wc_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":480,"wires":[["9a1c533c.a1428"],[]]},{"id":"a03056e4.cd335","type":"api-current-state","z":"c0c87894.670df8","name":"Led is off","server":"3a02048.0a266fc","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.wc_led","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":80,"wires":[["164c7800.8e37c8"],[]]},{"id":"164c7800.8e37c8","type":"api-current-state","z":"c0c87894.670df8","name":"Main Light is off","server":"3a02048.0a266fc","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.wc_main_light_esp_wc","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":80,"wires":[["f63b4a5.bcf6038"],[]]},{"id":"cd86334b.406428","type":"ha-wait-until","z":"c0c87894.670df8","name":"Wait motion a bit","server":"3a02048.0a266fc","outputs":2,"entityId":"binary_sensor.wc_motion","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"8","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":290,"y":240,"wires":[["cdeea14f.09942"],["8dfae00c.9ffc18"]]},{"id":"8dfae00c.9ffc18","type":"api-call-service","z":"c0c87894.670df8","name":"Led Off","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wc_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":300,"wires":[["4064adf3.ad2ed4"]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"4064adf3.ad2ed4","type":"api-call-service","z":"c0c87894.670df8","name":"Main Off","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wc_main_light_esp_wc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":300,"wires":[["1280da14.16080e"]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"e1299d.9360666","type":"comment","z":"c0c87894.670df8","name":"False 💢","info":"","x":460,"y":260,"wires":[]},{"id":"4211ad84.11c174","type":"comment","z":"c0c87894.670df8","name":"☀️ Day","info":"","x":810,"y":100,"wires":[]},{"id":"7211b310.f6b7cc","type":"comment","z":"c0c87894.670df8","name":"🌙 Night","info":"","x":820,"y":60,"wires":[]},{"id":"e7c47515.0df64","type":"comment","z":"c0c87894.670df8","name":"True ✅","info":"","x":470,"y":480,"wires":[]},{"id":"cdeea14f.09942","type":"key-value-write","z":"c0c87894.670df8","store":"396616f6.6e0182","action":"set","key":"wc_occupied","keyvalue":"true","name":"Set Occupancy True","x":640,"y":220,"wires":[[]]},{"id":"a90986ae.839cf","type":"comment","z":"c0c87894.670df8","name":"True ✅","info":"","x":450,"y":220,"wires":[]},{"id":"e395ec0.0a0dc18","type":"key-value-write","z":"c0c87894.670df8","store":"396616f6.6e0182","action":"set","key":"wc_occupied","keyvalue":"false","name":"Set Occupancy False","x":640,"y":140,"wires":[[]]},{"id":"55a1149b.84f524","type":"key-value-read","z":"c0c87894.670df8","store":"396616f6.6e0182","key":"wc_ocuppied","name":"Unless Occupied","x":310,"y":320,"wires":[["5c7ad40d.6189f4"]]},{"id":"5c7ad40d.6189f4","type":"switch","z":"c0c87894.670df8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":415,"y":320,"wires":[["8dfae00c.9ffc18"]],"l":false},{"id":"1280da14.16080e","type":"api-call-service","z":"c0c87894.670df8","name":"Fan On ▶️","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wc_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":300,"wires":[["6ef16269.cc1dc4"]],"icon":"node-red-contrib-modbus/modbus.png"},{"id":"23d3b565.db71fa","type":"time-range-switch","z":"c0c87894.670df8","name":"Is Evening 🌙 ","lat":"55.797447","lon":"37.607969","startTime":"sunsetStart","endTime":"21:00","startOffset":"-40","endOffset":"","x":540,"y":780,"wires":[["e5d86c83.a73788"],["cfc69e15.2cc728"]],"outputLabels":["Yes","No"],"icon":"font-awesome/fa-clock-o"},{"id":"fc78567d.0b6bd8","type":"api-call-service","z":"c0c87894.670df8","name":"Fan Off ⏸","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wc_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":220,"wires":[[]],"icon":"node-red-contrib-modbus/modbus.png"},{"id":"c510a076.98d258","type":"comment","z":"c0c87894.670df8","name":"TODO: димминг","info":"","x":1040,"y":660,"wires":[]},{"id":"bc93c698.bc49d","type":"comment","z":"c0c87894.670df8","name":"🌙","info":"","x":690,"y":760,"wires":[]},{"id":"c4eee09d.ab291","type":"server-state-changed","z":"c0c87894.670df8","name":"No Motion in a while","server":"3a02048.0a266fc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"25","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":840,"wires":[["b6ff6f5c.97dde8"],[]],"icon":"node-red/bridge.svg"},{"id":"f8a6a855.ed8a8","type":"api-call-service","z":"c0c87894.670df8","name":"Led Off","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":840,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"3fec0736.246","type":"api-call-service","z":"c0c87894.670df8","name":"Led On","server":"3a02048.0a266fc","version":1,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":1060,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"569401a3.1380d","type":"api-current-state","z":"c0c87894.670df8","name":"Is Led Off","server":"3a02048.0a266fc","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kitchen_led","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":220,"y":780,"wires":[["7ac3bd75.c9f704"],[]]},{"id":"7ac3bd75.c9f704","type":"api-current-state","z":"c0c87894.670df8","name":"Is Main Off","server":"3a02048.0a266fc","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kitchen_main_light_esp_wc","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":780,"wires":[["23d3b565.db71fa"],[]]},{"id":"4278fc9c.aee64c","type":"api-call-service","z":"c0c87894.670df8","name":"Led Off","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":740,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"cfc69e15.2cc728","type":"api-call-service","z":"c0c87894.670df8","name":"Main Off","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_main_light_esp_wc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":800,"wires":[["698ac998.6a224"]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"95cda316.d12228","type":"function","z":"c0c87894.670df8","name":"switcher state","func":"\nconst prevState = { \n    led: flow.get('prev_led_state') === 'on',\n    main: flow.get('prev_main_state') === 'on',\n}\nconst toggleEvent = flow.get('toggle_msg').data.event\n\n\nconst isTurnOn =  toggleEvent.old_state.state === 'off' && toggleEvent.new_state.state === 'on';\nconst isTurnOff = toggleEvent.old_state.state === 'on'  && toggleEvent.new_state.state === 'off';\nconst isTurn = isTurnOn || isTurnOff;\n\n\nconst newStates = !isTurn // didn’t changed. e.g. prev state is undefined (module reloaded)\n    // Don’t change\n    ? prevState\n\n    /* Or: toggle. But If both are ON or OFF (equal) then turn led ON only\n        m1 l1 -> l1 m0\n        m0 l0 -> l1 m0\n        m1 l0 -> l1 m0\n        m0 l1 -> l0 m1\n    */\n    : {\n        main: !(prevState.main || !prevState.led),\n        led: !prevState.led || prevState.main,\n    };\n\n\nnode.log({ ...msg, payload: { newStates, prevState, toggleEvent }})\n\nnode.send([\n    newStates.main  ? { payload: 'do' } : null, // Main On\n    !newStates.main ? { payload: 'do' } : null, // Main Off\n    newStates.led   ? { payload: 'do' } : null, // Led  On\n    !newStates.led  ? { payload: 'do' } : null, // Led  Off\n])","outputs":4,"noerr":0,"initialize":"","finalize":"","x":460,"y":1020,"wires":[["1f786f2.446e991"],["e5d1f0b0.afb2f8"],["3fec0736.246"],["a427d227.2edb48"]],"inputLabels":["light toggle"],"outputLabels":["main on","main off","led on","led off"],"icon":"node-red/switch.svg"},{"id":"17055e6c.be0bd2","type":"api-current-state","z":"c0c87894.670df8","name":"main","server":"3a02048.0a266fc","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kitchen_main_light_esp_wc","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":1120,"wires":[["be045233.a030d8"]]},{"id":"20950e01.1f3d4a","type":"api-current-state","z":"c0c87894.670df8","name":"led","server":"3a02048.0a266fc","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kitchen_led","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":1040,"wires":[["3edbf5ba.1bab02"]]},{"id":"3edbf5ba.1bab02","type":"function","z":"c0c87894.670df8","name":"save","func":"\nflow.set('prev_led_state', msg.payload);\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":1080,"wires":[["17055e6c.be0bd2"]]},{"id":"be045233.a030d8","type":"function","z":"c0c87894.670df8","name":"save","func":"\nflow.set('prev_main_state', msg.payload);\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":1160,"wires":[["95cda316.d12228"]]},{"id":"56f547b9.b63628","type":"function","z":"c0c87894.670df8","name":"save","func":"\nflow.set('toggle_msg', { ...msg, event: msg.data && msg.data.event || msg.evt });\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":1000,"wires":[["20950e01.1f3d4a"]]},{"id":"e5d1f0b0.afb2f8","type":"api-call-service","z":"c0c87894.670df8","name":"Main Off","server":"3a02048.0a266fc","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_main_light_esp_wc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":980,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"a427d227.2edb48","type":"api-call-service","z":"c0c87894.670df8","name":"Led Off","server":"3a02048.0a266fc","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1120,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"64377198.ea5168","type":"comment","z":"c0c87894.670df8","name":"🚪 ____ H A L L W A Y _____________________________________________________________________________________________","info":"","x":440,"y":1280,"wires":[],"icon":"font-awesome/fa-comment"},{"id":"bf9447f2.3b4328","type":"trigger-state","z":"c0c87894.670df8","name":"Toggle main switch","server":"3a02048.0a266fc","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.hall_main_switch","entityidfiltertype":"exact","debugenabled":true,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"unavailable","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":1340,"wires":[["625ba73d.7634c"],[]],"icon":"node-red-dashboard/ui_switch.png"},{"id":"625ba73d.7634c","type":"api-call-service","z":"c0c87894.670df8","name":"Toggle Main","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.hall_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":1340,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"fcb9d0a1.56b7","type":"api-current-state","z":"c0c87894.670df8","name":"Humidity is normal","server":"3a02048.0a266fc","version":1,"outputs":2,"halt_if":"60","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.wc_humidity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":600,"wires":[["42ee7212.74a054"],["a2b408c5.d54d7"]]},{"id":"a2b408c5.d54d7","type":"ha-wait-until","z":"c0c87894.670df8","name":"wait for normalizing humidity ","server":"3a02048.0a266fc","outputs":2,"entityId":"sensor.wc_humidity","entityIdFilterType":"exact","property":"","comparator":"lt","value":"60","valueType":"num","timeout":"2","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":740,"y":620,"wires":[["42ee7212.74a054"],[]]},{"id":"e295b59e.9e98e","type":"comment","z":"c0c87894.670df8","name":"True ✅","info":"","x":470,"y":580,"wires":[]},{"id":"935b6d9f.0dae9","type":"comment","z":"c0c87894.670df8","name":"False 💢","info":"","x":480,"y":620,"wires":[]},{"id":"9d98ffb9.86a028","type":"api-current-state","z":"c0c87894.670df8","name":"Is Door unavailable ","server":"3a02048.0a266fc","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.wc_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":440,"wires":[["9a1c533c.a1428"],[]]},{"id":"4518fca4.bc723c","type":"api-call-service","z":"c0c87894.670df8","name":"Led On","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":800,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"698ac998.6a224","type":"api-current-state","z":"c0c87894.670df8","name":"cloudy ☁️ ","server":"3a02048.0a266fc","version":1,"outputs":2,"halt_if":"sunny","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"weather.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":890,"y":860,"wires":[["4518fca4.bc723c"],[]]},{"id":"4ad10222.a33384","type":"api-call-service","z":"c0c87894.670df8","name":"Shower light on","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wc_shower_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":120,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"6ef16269.cc1dc4","type":"api-call-service","z":"c0c87894.670df8","name":"Shower light off","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wc_shower_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":300,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"e4a02b3c.de94d","type":"api-call-service","z":"c0c87894.670df8","name":"Shower light off","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wc_shower_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":480,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"3e6dfbfc.8e2dcc","type":"trigger-state","z":"c0c87894.670df8","name":"Touch","server":"3a02048.0a266fc","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.kitchen_button","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":70,"y":1040,"wires":[["a0916913.09edb"],[]],"icon":"node-red-dashboard/ui_switch.png","info":"button in the kitchen room on raspberry"},{"id":"a0916913.09edb","type":"api-current-state","z":"c0c87894.670df8","name":"main light","server":"3a02048.0a266fc","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"light.kitchen_main_light_esp_wc","state_type":"str","state_location":"evt","override_payload":"msg","entity_location":"dat","override_data":"msg","blockInputOverrides":false,"x":80,"y":1120,"wires":[["56f547b9.b63628"],[]]},{"id":"d8ea680e.76dda","type":"server-state-changed","z":"c0c87894.670df8","d":true,"name":"Motion","server":"3a02048.0a266fc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hall_main_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":70,"y":1400,"wires":[["7fa319e0.993978"],[]],"icon":"node-red/bridge-dash.svg"},{"id":"4bcd9526.716d54","type":"server-state-changed","z":"c0c87894.670df8","name":"No Motion in a while","server":"3a02048.0a266fc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hall_main_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"25","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":110,"y":1460,"wires":[["35d7c1bf.f4bece"],[]],"icon":"node-red/bridge.svg"},{"id":"7fa319e0.993978","type":"api-call-service","z":"c0c87894.670df8","name":"Led On","server":"3a02048.0a266fc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hall_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":1400,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"},{"id":"35d7c1bf.f4bece","type":"api-call-service","z":"c0c87894.670df8","name":"Main Off","server":"3a02048.0a266fc","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.hall_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":1460,"wires":[[]],"icon":"font-awesome/fa-lightbulb-o"}]